@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        console.log("This is the script in _Partial.cshtml");
        $(document).ready(function () {
            toastr.success("Hello there!");
        });
    </script>
}

<h2>This is <code>_Partial.cshtml</code></h2>