@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section scripts {
    <script>console.log("This is the script in Index.cshtml");</script>
}

<h1>This is <code>Index.cshtml</code></h1>

@Html.Partial("_Partial")